@media only screen and (max-width:576px){
    .course-thumbnail img{
        width: 334px;
        height: 223px;
        margin-top:10px;
    }
    .course-details{
        text-align: left;
        padding: 10px;
    }
}