.course-thumbnail img{
    width: 200px;
    height: 200px;
}
.price{
    color: #289BDE;
}
@media only screen and (max-width:767px){
    
    .course-thumbnail img{
        width: 100%;
        padding-top: 5%;
    }
    #course-thumbnail{
        display: none;
    }
    .course-details{
        text-align: left;
        padding: 10px;
    }
}